.Hotels {
	list-style: none;
	margin: 0 -20px 0 0;
	padding: 0;
}

.hot {
	display: block;
	width: 100%;	
	border: 1px solid #b5e9a7;
	height: 300px;
	float: left;
	transition: width .2s;}

.bild {
	display: block;
	border-radius: 3px;
	position: relative;
	background: #fff;
	margin: 0 20px 20px 0;
	color: #474747;
	z-index: 0;
	text-align: center;
	padding-top: 30px;
}	


@media only screen and (min-width: 450px) {
	.hot {
		width: 50%;
	}
}

@media only screen and (min-width: 768px) {
	.hot {
		width: 33.333%;
	}
}

@media only screen and (min-width: 1000px) {
	.hot {
		width: 25%;
	}
}

